.ff-roboto {
  font-family: var(--ff-roboto);
}

.ff-roboto-condensed {
  font-family: var(--ff-roboto-condensed);
}

.ff-mpntserrot {
  font-family: var(--ff-montserrot);
}

.ff-kaushan-script {
  font-family: var(--ff-kaushan-script);
}
