@use "./imports/fonts/fonts" as *;
@use "./imports/base/base" as *;
@use "./imports/variables/root-variables" as *;

/*----------| Import all custom styles |----------*/
@use "./imports/custom/classes" as *;
@use "./imports/custom/scrollBar" as *;
@use "./imports/custom/config" as *;
@use "./imports/custom/sizes" as *;
@use "./imports/custom/buttons" as *;

/*----------| Import all custom component styles |----------*/
@use "./components/header" as *;
@use "./pages/index" as *;
@use "./components/footer" as *;

.guidelines {
  width: 100vw;
  height: fit-content;
  background-color: var(--clr-white);

  .guidelines-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 4rem;

    .guidelines-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .detail-guidelines-container {
        text-align: left;
        padding-top: 3rem;

        ol {
          font-size: 2rem;
          font-weight: 500;
          li.guidelines-point {
            padding-top: 2rem;
          }

          ul {
            padding-left: 3rem;
          }
        }
      }
    }
  }
}
